@model List<PersonaModelo>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Listar Persona
    </div>
    <div class="card-body">
    </div>
</div>
<div class="card-body">
    <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success"><i class="bi bi-plus-circle"></i> Nuevo</a>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Identificacion</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nacimiento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Identificacion</td>
                    <td>@item.Nombre</td>
                    <td>@item.Apellido</td>
                    <td>@item.anacimiento</td>
                    <td>
                        <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btn-sm" asp-route-Idpersona="@item.Idpersona">Editar</a>
                        <a asp-action="Eliminar" asp-controller="Mantenedor" class="btn btn-danger btn-sm" asp-route-Idpersona="@item.Idpersona">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>
